#### Importing the dependencies

In [129]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
import random as rd
warnings.filterwarnings( "ignore" )

#### Data Collection and Processing

In [2]:
# loading the csv data to a Pandas DataFrame
disease_data = pd.read_csv('./heart_disease_data.csv')

In [3]:
# loading the first 5 rows of dataset
disease_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# loading the last 5 rows of dataset
disease_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# displaying the shape of dataset
print(f"(rows, columns): {disease_data.shape}")

(rows, columns): (303, 14)

In [6]:
# checking for missing values
disease_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
# getting info about dataset
disease_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# statistic description of dataset
disease_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# counting 1s and 0s in target column
disease_data["target"].value_counts()

# 1 - Unhealthy Heart
# 0 - Healthy Heart

1    165
0    138
Name: target, dtype: int64

#### Splitting data into Features and Target

In [10]:
X = disease_data.drop(columns="target", axis=1)
Y = disease_data["target"]

In [11]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

#### Splitting data into Train and Test data from Scratch

In [58]:
# def test_train_split(dataset, target, test_size=0.25):
#     train_data = list()
#     test_data = dataset.copy()
#     train_size = round((1-test_size)*len(dataset))
    
#     while len(train_data) < train_size:
#         i = rd.randrange(len(test_data)) # finding a random index from test_data which is initially a copy of dataset
#         train_data.append(test_data.iloc[i, :]) # appending the row at random index to train data
#         test_data.drop(test_data.index[i], inplace=True) # removing the row at random index from test data
    
#     train_data = pd.DataFrame(train_data) 
    
#     X_train_data = train_data.drop(columns=target, axis=1)
#     Y_train_data = train_data[target]
#     X_test_data = test_data.drop(columns=target, axis=1)
#     Y_test_data = test_data[target]
    
#     return X_train_data, Y_train_data, X_test_data, Y_test_data

In [62]:
# # splitting the preprocessed data
# X_train, Y_train, X_test, Y_test = test_train_split(disease_data, "target", test_size=0.2)

In [63]:
# print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

#### Splitting data into Train and Test data using Scikit-Learn

In [130]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [131]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

#### Model Training from Scratch

Sigmoid function <br><br>
$
g(z) = \frac{1}{1+e^{-z}}
$
<br><br>
$
\hat{y} = \frac{1}{1+e^{-(wX+b)}}
$
<br><br>
Cost function <br><br>
$
J(w,b) = -\frac{1}{m} \sum_{i=1}^{m} [(y^{(i)}\log{\hat{y}^{(i)}})+(1-y^{(i)})\log{(1-\hat{y}^{(i)})}]
$
<br><br>
Gradiants
<br><br>
$
dw = -\frac{1}{m} \sum_{i=1}^{m} [x^{(i)}(y^{(i)} - \hat{y}^{(i)})]
$
<br><br>
$
db = -\frac{1}{m} \sum_{i=1}^{m} [(y^{(i)} - \hat{y}^{(i)})]
$
<br><br>
Normalizing equation
<br><br>
$
z = \frac{(x-\mu)}{\sigma}
$

In [132]:
# # Logistic Regression model
# class LogisticRegression():
    
#     # utility function for defining sigmoid function
#     def _sigmoid(self, z):
#         g = 1/(1+np.exp(-z))
#         return g
    
#     # utility function for finding the cost/loss function J(w, b)
#     def _cost(self, Y, Y_cap):
#         J = -np.mean(Y*np.log(Y_cap) + (1-Y)*np.log(1-Y_cap))
#         return J
    
#     # utility function for finding the gradiants dw, db
#     # dw is the partial derivative of cost function J(w, b) with respect to w
#     # db is the partial derivative of cost function J(w, b) with respect to b
#     def _gradiants(self, Y, Y_cap, X):
#         m = X.shape[0]
#         # print(m)
#         dw = (1/m)*np.dot(X.T, (Y_cap-Y))
#         db = (1/m)*np.sum((Y_cap-Y))
#         return dw, db
    
#     # utility function for normalizing inputs
#     def _normalize(self, X):
#         n = X.shape[1]
#         for i in range(n):
#             X = (X-X.mean(axis=0))/X.std(axis=0)
#         return X
    
#     # train function
#     # alpha is the learning rate
#     def train(self, X, Y, batch_size, alpha, iters=1000):
#         m, n = X.shape
#         w = np.zeros((n, 1))
#         b = 0
        
#         Y = Y.values.reshape(m, 1)
#         x = self._normalize(X)
#         costs = []
        
#         for iter in range(iters):
#             for i in range(((m-1)//batch_size)+1):
#                 s = i*batch_size
#                 e = s + batch_size
#                 xb = x[s:e]
#                 yb = Y[s:e]
                
#                 y_cap = self._sigmoid(np.dot(xb, w) + b)
#                 dw, db = self._gradiants(yb, y_cap, xb)
                
#                 # updating w and b for each iteration to minimize the cost function
#                 w -= alpha*dw
#                 b -= alpha*db
            
#             cost = self._cost(Y, self._sigmoid(np.dot(x, w)+b))
#             costs.append(cost)
#         # print(len(w))
#         return w, b, costs
    
#     # prediction function
#     def predict(self, X):
#         x = self._normalize(X)
#         y_cap = self._sigmoid(np.dot(x, w)+b)
#         predict_list = [1 if i>=0.5 else 0 for i in y_cap]
#         return np.array(predict_list)
    
# model = LogisticRegression()
# w, b, l = model.train(X_train, Y_train, batch_size=10, alpha=0.01, iters=1000)

#### Model Training using Scikit-Learn

In [133]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

#### Accuracy Score from Scratch

In [134]:
# # function for checking the accuracy of the model
# def accuracy_score(y, y_hat):
#     accuracy = np.sum(y == y_hat) / len(y)
#     return accuracy

# accuracy_score(Y_train, y_hat=model.predict(X_train))

#### Accuracy Score using Scikit-Learn

In [135]:
# accuracy on training dataset
Y_test_cap = model.predict(X_train)
acc_train = accuracy_score(Y_test_cap, Y_train)

In [136]:
print("Accuracy on Training data: ", acc_train)

Accuracy on Training data:  0.8512396694214877

In [137]:
# accuracy on testing dataset
Y_test_cap = model.predict(X_test)
acc_test = accuracy_score(Y_test_cap, Y_test)

In [138]:
print("Accuracy on Testing data: ", acc_test)

Accuracy on Testing data:  0.819672131147541

#### Predictive System

In [143]:
input_data = (51, 0, 0, 130, 10, 0, 0, 2, 0, 0, 4, 0, 2)

arr_input = np.asarray(input_data)

arr_input_reshape = arr_input.reshape(1, -1)
print(arr_input_reshape)

prediction = model.predict(arr_input_reshape)
print(prediction)

if prediction[0]==0:
    print("Your Heart is Healthy. You don't have any Heart Disease")
else:
    print("Your Heart is Unhealthy. You may have a Heart Disease. Check out a Doctor")

[[ 51   0   0 130  10   0   0   2   0   0   4   0   2]]
[0]
Your Heart is Healthy. You don't have any Heart Disease